/* css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* css variables */
:root {
    --wireframe: 4px solid darkblue;
    --debugging: 3px dotted darkred;
    --component: 3px dotted darkgreen;

    --sp-sm: 2%;
    --sp-md: 5%;
    --sp-lg: 10%;

    --clr-main: rgb(49, 10, 85);
    --clr-alt: #000;
    --clr-sub: #FFF;
    
}
/* css globals */
html {
    scroll-behavior: smooth;
}
/* 
    table of content

    1. header : layout & style
    2. content : layout & style
    3. showcase : layout & style
    4. lists : layout & style
    5. footer : layout & style
    
    6. media : desktop

    Created by : C D Harris
*/


/* 1 header : header */
.header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);

    min-height: 40vh;

    background: var(--clr-main);
    color: var(--clr-sub);
}
.header .elmnts {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 
    
}
.header .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 1;
    flex-direction: column;
}
.header .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 1;
}
.header h2 {
    font-size: 2rem;
    letter-spacing: 4px;
    padding: var(--sp-md);
    
}
.header a {
    font-size: 1.6rem;
    color: var(--clr-sub);
    margin: auto;
}
.header p {
    padding-top: var(--sp-md);   
    /* padding-left: var(--sp-md); */

    font-size: 1.4rem;
    letter-spacing: 2px;
    font-style: italic;
}


/* 2 section : content */
.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);

    min-height: 60vh;
}
.content .elmnts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content .elmnts:nth-child(1) {
    grid-column: span 6;
}
.content p {
    padding: var(--sp-lg);
    letter-spacing: 2px;
    font-size: 1.25rem;
    text-align: left;
}

/* 3 section : projects */
.projects {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);

    min-height: 100vh;
    min-width: 100vw;

    background: var(--clr-main);
    color: var(--clr-sub);
}
.projects .elmnts {
    display: flex;
    justify-content: center;
    align-items: center;

}
.projects .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 1;

    flex-direction: column;
}
.projects .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 5;
}
.projects .elmnts:nth-child(3) {
    grid-column: span 6;
    grid-row: span 2;
}
.projects h3 {
    padding: var(--sp-md);
    font-size: 1.75rem;
    letter-spacing: 4px;
    text-decoration: underline;
}
.projects p {
    padding: var(--sp-md);
    letter-spacing: 2px;
    font-size: 1.25rem;
    text-align: center;
}
.projects .elmnts button {
    margin: auto;
    background: transparent;
    border: 3px solid var(--clr-sub);
    border-radius: 10px;
    color: var(--clr-sub);
    font-size: 1.25rem;
    letter-spacing: 2px;
    padding: var(--sp-md);

    transition: 180ms all ease-in;

    width: 100%;
    max-width: 180px;

}
.projects .elmnts button:hover {
    background: var(--clr-sub);
    color: var(--clr-main);
    font-weight: bold;

    transition: 200ms all ease;
}


/* 4 section : showcase */
.showcase {
    position: relative;
    width: 100%;
    height: 100%;

}
.sc {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);

    text-align: center;
}
.sc .elmnts {
    position: relative;
    background: var(--clr-sub);
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sc .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 2;
    
}
.sc .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 2;
    display: none;
}
.sc .elmnts:nth-child(3) {
    
    grid-column: span 6;
    grid-row: span 2;
}
.sc .elmnts:nth-child(4) {
    grid-column: span 6;
    grid-row: span 2;
}
.sc img {
    height: 100%;
    width: 100%;
    filter: opacity(0.6);
}
.sc h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: var(--clr-main);
    text-shadow: 4px 2px var(--clr-sub);
    text-decoration: underline;
    font-size: 2rem;
    letter-spacing: 2px;
    transform: translate(-50%, -50%);
    z-index: 100;

}

/* 5 section : skills */
.skills {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);

    min-height: 100vh;
    min-width: 100vw;

    background: var(--clr-sub);

}
.skills .elmnts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 2;
}
.skills .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 2;
}
.skills .elmnts:nth-child(3) {
    grid-column: span 6;
    grid-row: span 2;
}
.skills .elmnts:nth-child(4) {
    grid-column: span 6;
    grid-row: span 2;
}
.skills h3 {
    padding: var(--sp-md);
    font-size: 1.65rem;
    letter-spacing: 4px;
    text-decoration: underline;
}
.skills h4 {
    padding: var(--sp-sm);
    font-size: 1.45rem;
    letter-spacing: 4px;
    text-decoration: underline;
}
.skills p {
    padding: var(--sp-md);
    letter-spacing: 2px;
    font-size: 1.25rem;
    text-align: center;
}

/* 6 ul : lists */
.lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.lists li {
    list-style: none;
}
.list .subitems {
    display: none;
}

/* 7 footer : footer */
.footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);
    gap: 10px;
    
    background: var(--clr-main);
    color: var(--clr-sub);

    margin: var(--spacing-md);
    min-height: 95vh;
    padding-top: 10vh;
}
 .footer .elmnts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    padding: var(--sp-md);
    
    /* border: var(--wireframe); */
}
.footer .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 2;
}
.footer .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 2;
    display: none;
}
.footer .elmnts:nth-child(3) {
    grid-column: span 6;
    grid-row: span 2;
    
}
.footer .elmnts:nth-child(4) {
    grid-column: span 6;
    grid-row: span 2;
    
}
.footer .elmnts:nth-child(5) {
    grid-column: span 6;
    grid-row: span 2;
    
}
.footer .elmnts:nth-child(6) {
    grid-column: span 6;
    grid-row: span 2;
    
}
.footer .elmnts:nth-child(7) {
    grid-column: span 6;
    grid-row: span 2;
    
}
.footer a {
    color: var(--clr-sub);
    font-size: 1.35rem;
    text-decoration: none;
    letter-spacing: 2px;
}
.footer i {
    font-size: 2rem;
}
.footer h3 {
    padding: var(--sp-md);
    font-size: 1.65rem;
    letter-spacing: 4px;
    text-decoration: underline;
}
.footer p {
    padding: var(--sp-sm);
    letter-spacing: 2px;
    font-size: 1.25rem;
    text-align: center;
}
.footer .elmnts span {
    display: none;
}

/* media : desktop */
@media screen and (min-width:900px) {
    /* header : header */
    .header {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(50px, auto);
    
        min-height: 40vh;
    
        background: var(--clr-main);
        color: var(--clr-sub);
    }
    .header .elmnts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
    }
    .header .elmnts:nth-child(1) {
        grid-column: span 8;
        grid-row: span 2;
    
    }
    .header .elmnts:nth-child(2) {
        grid-column: span 4;
        grid-row: span 2;
    }
    .header h2 {
        font-size: 2.5rem;
        letter-spacing: 6px;
        padding-left: var(--sp-md);
    }
    .header a {
        font-size: 2rem;
        color: var(--clr-sub);
        margin: auto;
    }
    .header p {
        padding-top: var(--sp-sm);   
        padding-left: var(--sp-md);
    
        font-size: 1.4rem;
        letter-spacing: 2px;
        font-style: italic;
    }
    
    /* article : showcase */
    .sc {
        position: absolute;
        top: 0;
        left: 0;
        
        text-align: center;
    
        height: 100%;
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(25px, auto);   
    }
    .sc .elmnts {
        position: relative;
        background: var(--clr-sub);
        height: 100%;
        width: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sc .elmnts:nth-child(1) {
        grid-column: span 6;
        grid-row: span 2;
        
    }
    .sc .elmnts:nth-child(2) {
        grid-column: span 6;
        grid-row: span 2;
        display: flex;
    }
    .sc h5 {
        color: var(--clr-alt);
        font-size: 1.5rem;
        letter-spacing: 2px;
        padding-top: var(--sp-md);
    }
    .sc p {
        color: var(--clr-alt);
        text-align: center;
        
    }

    /* section : skills */
    .skills {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(50px, auto);

        width: 100vw;
    }
    .skills .elmnts {
        height: 100%;
        width: 100%;
        /* border: var(--component); */
    }
    .skills .elmnts:nth-child(1) {
        grid-column: span 12;
        grid-row: span 1;
    }
    .skills .elmnts:nth-child(2) {
        grid-column: span 4;
        grid-row: span 1;
    }
    .skills .elmnts:nth-child(3) {
        grid-column: span 4;
        grid-row: span 1;
    }
    .skills .elmnts:nth-child(4) {
        grid-column: span 4;
        grid-row: span 1;
    }

    /* ul : list */
    .list {
        width: 100%;
        height: 100%;
        padding-left: var(--sp-md);
        
    }
    .list .mainitems {
        font-size: 1.3rem;
        letter-spacing: 1px;
        /* border: var(--wireframe); */
    }
    .list .subitems {
        display: flex;
        padding-left: var(--sp-md);

        font-size: 1rem;
        letter-spacing: 2px;
        /* border: var(--debugging); */
    }
    .list li {
        padding: var(--sp-sm);
        list-style-type: none;
    }
    
    /* footer : footer */
    .footer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(50px, auto);
    }
    .footer .elmnts:nth-child(1) {
        grid-column: span 12;
        grid-row: span 2;
    }
    .footer .elmnts:nth-child(2) {
        grid-column: span 4;
        grid-row: span 2;
        /* display: flex; */
        display: none;
    }
    .footer .elmnts:nth-child(3) {
        grid-column: span 4;
        grid-row: span 2;
    }
    .footer .elmnts:nth-child(4) {
        grid-column: span 4;
        grid-row: span 2;
    }
    .footer .elmnts:nth-child(5) {
        grid-column: span 4;
        grid-row: span 2;
    }
    .footer .elmnts:nth-child(6) {
        grid-column: span 12;
        grid-row: span 2;
    }
    .footer .elmnts span {
        display: flex;
        padding: var(--sp-md);
        font-size: 1.35rem;
        letter-spacing: 2px;
        font-style: italic;
    }

    
}