/* @import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap'); */
@import url(
    'https://fonts.googleapis.com/css?family=Alata|Gayathri|Josefin+Sans&display=swap'
    );

/* reset html */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* css variables */
:root {
    --wireframe: 4px solid darkblue;
    --debugging: 3px dotted red;

    --sp-sm: 2%;
    --sp-md: 5%;
    --sp-lg: 10%;

    --display-txt: #FFF;
    --content-txt: #000;

    --heading-fonts: 'Josefin Sans', sans-serif;
    --content-fonts: 'Alata', sans-serif; 
    --subcontent-fonts: 'Josefin Sans', sans-serif;

    --clr-main: rgb(51, 72, 195);
    --clr-alt: #000;
    --clr-sub: #FFF;
    --clr-off: rgb(49, 10, 85);


    /* font-family:  */

    /* font-family: 'Alata', sans-serif; */

    /* font-family: 'Josefin Sans', sans-serif; */
}

/* globals */
body {
    background: var(--clr-main);
    
}
html {
    scroll-behavior: smooth;
    transition: 1200ms all ease;
}


/*  
    === table of contents ===
    
    1. [ section layout ]
        a. header - header
        b. content - projects 
        c. subcontent - skills 
        d. footer - contact

    2. [ content layout ]
        a. nav - header    
        b. article - project containers
        c. lists - mainlist | sublist | panlist
        d. aside - modal containers
        e. containers - singular elements
        

    3. [ element properties ]
        a. font sizes & styles
        b. color schemes & styles
        c. display & background images
        d. animations & transitions
        e. miscs components

    4. [ media queries ]
        a. laptop & small screens
        b. mobile & tablet
        c. misc resolutions
    
    === table of contents ===    
*/

/* header : header */
.header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);
    gap: 10px;

    height: 100vh;
    min-height: 100vh;

    width: 100vw;
    min-width: 100vw;

    position: relative;

    background: var(--clr-main);
    color: var(--clr-sub);

}

.header h1 {
    padding: var(--sp-md);
    letter-spacing: 2px;

}
.header p {
    padding: var(--sp-md);
    font-style: italic;
    letter-spacing: 2px;
    
}
.header .elmnts {
    display: flex;
    justify-content: center;
    text-align: center;

    padding: var(--sp-md);
    width: 100%;
    height: 100%;
}
.header .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 4;
    flex-direction: column;
    
}
.header .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 2;
    flex-direction: row;
    
}
.header .elmnts:nth-child(3) {
    grid-column: span 12;
    grid-row: span 4;
    align-items: center;
    flex-direction: column;
}
.header .elmnts i {
    color: var(--clr-sub);
    margin: auto;
}

/* section : content */
.content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);
    gap: 10px;

    height: 100vh;
    min-height: 100vh;

    width: 100vw;
    min-width: 100vw;


    
}
.content .elmnts {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}
.section .showcase {

}
.content .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 2;

}
.content p {
    padding: var(--sp-lg);
    text-align: center;
    letter-spacing: 2px;
}

#content_information {
    background: var(--clr-sub);
 
}
#content_skills {
    background: var(--clr-sub);
 
}



/* 

[ section layout ]
    d. footer - contact

*/
.footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 10px;
    
    margin: var(--spacing-md);
    min-height: 95vh;
    padding-top: 10vh;
}
 .footer .elmnts {
    /* padding: var(--spacing-md); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
    border: var(--wireframe);
}
.footer .elmnts:nth-child(1) {
    grid-column: span 12;
    grid-row: span 1;
}
.footer .elmnts:nth-child(2) {
    grid-column: span 8;
    grid-row: span 2;
}
.footer .elmnts:nth-child(3) {
    grid-column: span 4;
    grid-row: span 2;
}
.footer .elmnts:nth-child(4),
.footer .elmnts:nth-child(5),
.footer .elmnts:nth-child(6),
.footer .elmnts:nth-child(7) {
    grid-column: span 3;
    grid-row: span 2;
}
.footer .elmnts:nth-child(8) {
    grid-column: span 10;
    grid-row: span 1;
}
.footer .elmnts:nth-child(9) {
    grid-column: span 2;
    grid-row: span 1;
}
/* 

/* 

[ content layout ]
    a.  nav - header 

*/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 100%;
    height: 10vh;
    background: #FFF;
    border: var(--wireframe);

    z-index: 100;
}
nav a {
    margin: auto;
    font-weight: bold;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;

    height: 80%;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 200ms all ease-in;
}
nav a:hover {
    background: #000;
    color: #FFF;
}
nav a:hover .dropdown {
    display: block;
    transition: 200ms all ease-in;
}
nav a .dropdown {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #000;
    color: #FFF;


    position: absolute;
    top: 7vh;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;

    
    
}
.dropdown li {
    list-style-type: none;
    margin: auto;
    padding: var(--spacing-md);
    border: var(--wireframe);
    text-align: center;
    background: #000;
}
.dropdown li:hover {
    background: red;
    color: #FFF;
}


/* 

[ content layout ]
    c. lists - mainlist | sublist | panlist 

*/
.mainlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 1.55rem;
    text-align: center;
    width: 100%;
}
.mainlist .mainitems {
    list-style-type: none;
    padding: var(--spacing-md);
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
}
.sublist .subitems {
    font-size: 0.9rem;
    list-style-type: circle;
    padding: var(--spacing-sm);
    font-weight: lighter;
    font-family: var(--subcontent-fonts);
    
}
.panlist {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: var(--spacing-md);
}
.panlist li {
    font-weight: bold;
    letter-spacing: 2px;
    margin: auto;
}

/* 

[ content layout ]
    d. aside - modal containers 

*/
aside {
    /* display: grid; */
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    height: 100%;
    width: 100%;
    
}
aside .items {
    display: flex;
    justify-content: center;
    color: #FFF;
    position: relative;
    border: var(--debugging);
}
aside .items:nth-child(1) {
    grid-column: span 10;
    grid-row: span 1;
    flex-direction: column;
}
aside .items:nth-child(2) {
    grid-column: span 2;
    grid-row: span 1;
}
aside .items:nth-child(3) {
    grid-column: span 8;
    grid-row: span 2;
    flex-direction: column;
}
aside .items:nth-child(4) {
    grid-column: span 4;
    grid-row: span 2;
    flex-direction: column;
}
aside .items:nth-child(5) {
    grid-column: span 8;
    grid-row: span 2;
}
aside .items:nth-child(6) {
    grid-column: span 4;
    grid-row: span 2;
    flex-direction: column;
}
aside .items:nth-child(7) {
    grid-column: span 12;
    grid-row: span 1;
    
}
aside button {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    width: 180px;
    background: transparent;
    color: #FFF;
    font-weight: bold;
    border: 3px solid #FFF;
}
aside button i {
    padding-right: 20px;
    font-size: 1.54rem;
}

aside .objlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
aside .objlist li {
    margin: auto;
}

aside .items p {
    padding-left: 6%;
    border: var(--wireframe);
}
aside .items h5 {
    padding-left: 6%;
    border: var(--wireframe);
}
aside .items .box {
    border: var(--debugging);
    background: lightblue;
    margin: auto;
    height: 100%;
    width: 100%;
}
/*

[ element propereties ]
    a. font sizes & styles

*/

h1 {font-size: 3.1rem;}
h2 {font-size: 2.7rem;}
h3 {font-size: 2.1rem;}
h4 {font-size: 1.85rem;}
h5 {font-size: 1.5rem;}

p {font-size: 1.35rem;}
i {font-size: 2.1rem;}
a {font-size: 1.35rem;}

.header a {
    margin: auto;
    color: #000;   
}
.header i {
    color: darkblue;
}

.header p {
    letter-spacing: 2px;
    
}
.header h1 {
    letter-spacing: 5px;

}
.header .elmnts:nth-child(3) p {
    padding: var(--spacing-sm);
}
.elmnts h3 {
    text-align: center;
    text-decoration: underline;
}
footer span {
    text-align: center;
}
/* 

[ element propereties ]
    b. color schemes & styles

*/


/* 

[ element propereties ]
    c. image & backgrounds

*/
#project_01 {background-image: url(img/header.jpg);}
#project_02 {background-image: url(img/trvl.jpg);}
#project_03 {background-image: url(img/dash.jpeg);}
#project_04 {background-image: url(img/disp.jpeg);}


/* header styles */



/* panels styles */
.panels h4 {
    font-weight: bold;
    letter-spacing: 8px;
    text-decoration: underline;
    padding-bottom: var(--spacing-md);
} 
.panels button {
    background: transparent;
    border: var(--wireframe);
    color: #000;
    
    font-size: 1.24rem;
    font-weight: bold;
    
    margin: auto;
    padding: var(--spacing-md);
}
.panels button:hover {
    letter-spacing: 2px;
}
.panels p {
    padding: var(--spacing-sm);
    text-align: center;
}

/* skills styles */
.skills h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
    padding: var(--spacing-md);
    border: var(--wireframe);
    min-height: 130px;
}




/* media : desktop */
/* @media screen and (min-width: 850px) { */
    /* grid properties */

    
    /* element properties */
    /* .header .elmnts:nth-child(1),
    .header .elmnts:nth-child(2),
    .header .elmnts:nth-child(3) {
        grid-column: span 6;
        grid-row: span 1; */
        /* text-align: center; */
    /* } */

    /* .content .elmnts:nth-child(1),
    .content .elmnts:nth-child(2),
    .content .elmnts:nth-child(3),
    .content .elmnts:nth-child(4), 
    .content .elmnts:nth-child(5) {
        grid-column: span 6;
        grid-row: span 1; */
        /* text-align: center; */
    /* } */

    /* .subcontent .elmnts:nth-child(1),
    .subcontent .elmnts:nth-child(2),
    .subcontent .elmnts:nth-child(3),
    .subcontent .elmnts:nth-child(4),
    .subcontent .elmnts:nth-child(5) {
        grid-column: span 6;
        grid-row: span 1; */
        /* text-align: center; */
    /* } */
    
    /* .footer .elmnts:nth-child(1),
    .footer .elmnts:nth-child(2),
    .footer .elmnts:nth-child(8),
    .footer .elmnts:nth-child(9) {
        grid-column: span 6;
        grid-row: span 1;
    }
    .footer .elmnts:nth-child(4),
    .footer .elmnts:nth-child(5),
    .footer .elmnts:nth-child(6),
    .footer .elmnts:nth-child(7) {
        grid-column: span 3;
        grid-row: span 1;
    }
    .footer .elmnts:nth-child(3) {display: none;} */
    /* .footer .elmnts:nth-child(4) {grid-column: 2;} */

    /* article .panels:nth-child(1),
    article .panels:nth-child(2),
    article .panels:nth-child(4),
    article .panels:nth-child(5) {
        grid-column: span 6;
        grid-row: span 2;
    }
    
    aside .items:nth-child(1),
    aside .items:nth-child(2),
    aside .items:nth-child(3),
    aside .items:nth-child(4),
    aside .items:nth-child(5),
    aside .items:nth-child(6),
    aside .items:nth-child(7) {
        grid-column: span 6;
        grid-row: span 1;
    }
    
    aside .items:nth-child(4),
    aside .items:nth-child(5),
    aside .items:nth-child(6) {
        display: none;
    }
    aside .items:nth-child(6) {
        flex-direction: column;
    }

    .subcontent .elmnts:nth-child(3) {grid-row: 3;}
    
    article .panels:nth-child(3) {display: none;} */


    
    /* global properties */
    /* h1 {font-size: 2rem;}
    h2 {font-size: 1.9rem;}
    h3 {font-size: 1.6rem;}
    h4 {font-size: 1.4rem;} */
    
    
    /* misc element properties */
    /* .header h1 {
        letter-spacing: 2px;
        padding: var(--spacing-sm);
    }
    .header p {
        letter-spacing: 1px;
        
    }
    aside h2 {
        font-size: 1.5rem;
        padding: var(--spacing-sm);
    }
    .panels p {
        font-size: 1.1rem;
    }
    .items h5 {
        font-size: 1.3rem;
    }
    .items p {
        font-size: 0.9rem;
    }
    
    footer span {
        display: none;
    }
    
    .mainlist .mainitems {
        list-style-type: none;
        padding: var(--spacing-sm);
        width: 60%;
    }

    .mobile_hidden {
        display: none;
    }
} */

