@import url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');

/* reset html */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Baskervville', serif;
    
}

/* css variables */
:root {
    --wireframe: 4px solid darkblue;
    --debugging: 3px dotted red;

    --spacing-sm: 2% 1%;
    --spacing-md: 2% 5%;
    --spacing-lg: 10%;

    --display-txt: #FFF;
    --content-txt: #000;
}

/* 
    globals

    [ body ]    = body

    font sizing
    
    [ h1 - h5 ]     = headings
    [ p ]           = paragraphs
    [ a & i ]       = links & icons
*/
body {
    background: rgb(200, 200, 200);
}

.elmnts.elmnts:nth-child(1) p {
    font-style: italic;
}

h1 {font-size: 3.5rem;}
h2 {font-size: 3rem;}
h3 {font-size: 2.5rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.5rem;}

p {font-size: 1.35rem;}
i {font-size: 2.1rem;}
a {font-size: 1.35rem;}

/* 
    header header layout
    
    [ header ]      = header
    [ elmnts ]      = div
    
*/
.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;

    margin: var(--spacing-md);
}
.header .elmnts {
    display: flex;
    justify-content: center;

    border: var(--wireframe);
    background: #FFF;
    padding: var(--spacing-md);
}
.header .elmnts:nth-child(1) {
    grid-column: span 8;
    grid-row: span 2;
    flex-direction: column;
}
.header .elmnts:nth-child(2) {
    grid-column: span 4;
    grid-row: span 2;
    align-items: center;
}
.header .elmnts:nth-child(3) {
    grid-column: span 12;
    grid-row: span 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* 
    main content layout

    [ main ]    = content
    [ div ]     = elmnts

*/
.content  {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    
    margin: var(--spacing-md);
}
.content .elmnts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: var(--wireframe);
    padding: var(--spacing-md);
    background: #FFF;
}
.content .elmnts:nth-child(1) {
    grid-column: span 12;
    grid-row: span 1;
}
.content .elmnts:nth-child(2),
.content .elmnts:nth-child(3), 
.content .elmnts:nth-child(4),
.content .elmnts:nth-child(5) {
    grid-column: span 12;
    grid-row: span 2;
}

/* 
    article layout components

    [ article ]     = article
    [ panels ]      = div

*/
article {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 10px;

}
article .panels {
    border: var(--wireframe);
    background: lightgreen;
    /* background: lightseagreen;
    color: #FFF; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-md);
}
article .panels:nth-child(1) {
    grid-column: span 8;
    grid-row: span 4;
    
    flex-direction: column;
}
article .panels:nth-child(2) {
    grid-column: span 4;
    grid-row: span 4;

    flex-direction: column;
}
article .panels:nth-child(3) {
    grid-column: span 8;
    grid-row: span 2;

    flex-direction: column;
}
article .panels:nth-child(4) {
    grid-column: span 4;
    grid-row: span 2;
}


/* 
    section skills layout
    
    [ skills ]      = section
    [ elmnts ]      = div

*/
.skills {
    background: rgb(200, 200, 200);
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;

    margin: var(--spacing-md);
}
.skills .elmnts {
    
    background: #FFF;
    border: var(--wireframe);
    padding: var(--spacing-md);

}
.skills .elmnts:nth-child(1) {
    grid-column: span 12;
    grid-row: span 1;
    /* background: transparent; */
    text-align: center;
}
.skills .elmnts:nth-child(2),
.skills .elmnts:nth-child(3),
.skills .elmnts:nth-child(4) {
    grid-column: span 4;
    grid-row: span 1;
}



/* 
    skills list layout

    [ ul mainlist ]  = list  
        [ li ] = main list item
    [ ul sublist ]
        [ li ] = sub list item 
*/

.skills .mainlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 1.55rem;
    text-align: center;
    width: 100%;
}
.skills .mainlist .mainitems {
    list-style-type: none;
    padding: var(--spacing-md);
    width: 100%;
}
.skills .sublist .subitems {
    font-size: 0.9rem;
    list-style-type: circle;
    padding: var(--spacing-sm);
    
}

/* 
    footer component

    [ footer ]      = footer
    [ elmnts ]      = div

*/
.footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 10px;
    
    margin: var(--spacing-md);
}
.footer .elmnts {
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
    border: var(--wireframe);
}
.footer .elmnts:nth-child(1) {
    grid-column: span 12;
    grid-row: span 2;
    /* background: transparent; */
}
.footer .elmnts:nth-child(2),
.footer .elmnts:nth-child(3) {
    grid-column: span 6;
    grid-row: span 6;
}
.footer .elmnts:nth-child(4),
.footer .elmnts:nth-child(5),
.footer .elmnts:nth-child(6) {
    grid-column: span 4;
    grid-row: span 4;
}
.footer .elmnts:nth-child(7) {
    grid-column: span 10;
    grid-row: span 2;
}
.footer .elmnts:nth-child(8) {
    grid-column: span 2;
    grid-row: span 2;
}


/*  
    component styles

    [ header ]
    [ content ]
    [ panels ]
    [ skills ]
    [ footer ]

*/

/* header styles */
.header a {
    margin: auto;
    color: #000;   
}
.header i {
    color: darkblue;
}
.header p {
    letter-spacing: 2px;
    padding: var(--spacing-sm);
}
.header h1 {
    letter-spacing: 5px;

}

/* panels styles */
.panels h4 {
    font-weight: bold;
    letter-spacing: 8px;
    text-decoration: underline;
    padding-bottom: var(--spacing-md);
} 
.panels button {
    background: transparent;
    border: var(--wireframe);
    color: #000;
    
    font-size: 1.24rem;
    font-weight: bold;
    
    margin: auto;
    padding: var(--spacing-md);

    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.panels button:hover {
    letter-spacing: 2px;
}
.panels p {
    padding: var(--spacing-sm);
    text-align: center;
}

/* skills styles */
.skills h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
    padding: var(--spacing-md);
    border: var(--wireframe);
    min-height: 130px;
}

/* 
    media queries

    [ tablet ] = > 790 px < 1000px
    [ mobile ] = < 790 px

*/
@media screen and (max-width: 1000px) {
    /* grid properties */
    .header,
    .skills,
    .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }
    /* flex properties */
    .header .elmnts,
    .skills .elmnts,
    .footer .elmnts {
        text-align: center;
    }
    /* grid elements */
    .header .elmnts:nth-child(1),
    .header .elmnts:nth-child(2),
    .header .elmnts:nth-child(3) {
        grid-column: span 3;
        grid-row: span 1;

        text-align: center;
    }
    /* skills elmnts */
    .skills .elmnts:nth-child(1),
    .skills .elmnts:nth-child(2),
    .skills .elmnts:nth-child(3),
    .skills .elmnts:nth-child(4) {
        grid-column: span 3;
        grid-row: span 1;

        text-align: center;
    }
    /* move programming skills to top in mobile */
    .skills .elmnts:nth-child(3) {
        grid-row: 2;
    }
    /* footer generic elmnts */
    .footer .elmnts:nth-child(1),
    .footer .elmnts:nth-child(2),
    .footer .elmnts:nth-child(7),
    .footer .elmnts:nth-child(8) {
        grid-column: span 3;
        grid-row: span 1;

        
    }
    /* footer image elmnts */
    .footer .elmnts:nth-child(3) {
        display: none;
    }
    /* footer nav elmnts */
    .footer .elmnts:nth-child(4),
    .footer .elmnts:nth-child(5),
    .footer .elmnts:nth-child(6) {
        grid-column: span 1;
        grid-row: span 1;

        
    }
    /* article project panels */
    article {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(50px, auto);
        
    }
    article .panels {
        text-align: center;
        
    }
    article .panels:nth-child(1) {
        grid-column: span 4;
        grid-row: span 4;
    }
    article .panels:nth-child(2) {
        grid-column: span 4;
        grid-row: span 4;
    }
    article .panels:nth-child(3) {
        grid-column: span 2;
        grid-row: span 2;
    }
    article .panels:nth-child(4) {
        grid-column: span 2;
        grid-row: span 2;
    }
}